.loader {
    height: 350px;
}

.nameWrapper {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
}

.stats {
    font-size: 20px;
    line-height: 30px;
}

.issuesTitleWrapper {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.issuesTitle {
    margin: 0;
}

.createIssueBtn {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 50px;
    border: none;
    background-color: rgb(95, 233, 111);
    cursor: pointer;
}

.issuesList {
    margin: 0;
    padding: 0;
}

.issue {
    list-style: none;
    padding: 20px 5px;
    border-top: 1px solid rgb(122, 121, 121);
}

.issue:last-child {
    border-bottom: 1px solid rgb(122, 121, 121);
}

.issueTitle {
    margin: 0;
    margin-bottom: 5px;
}

.openedBy {
    color: rgb(78, 76, 76);
}